Package: bash-doc
Source: bash
Version: 4.2+dfsg-0.1+deb7u3
Architecture: all
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 1396
Depends: dpkg (>= 1.15.4) | install-info
Replaces: bash (<< 3.2-1)
Section: doc
Priority: optional
Homepage: http://tiswww.case.edu/php/chet/bash/bashtop.html
Description: Documentation and examples for the The GNU Bourne Again SHell
 Bash is an sh-compatible command language interpreter that executes
 commands read from the standard input or from a file.  Bash also
 incorporates useful features from the Korn and C shells (ksh and csh).
 .
 This package contains the distributable documentation, all the
 examples and the main changelog.
