Package: bash-builtins
Source: bash
Version: 4.2+dfsg-0.1+deb7u3
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 505
Depends: bash (= 4.2+dfsg-0.1+deb7u3)
Section: utils
Priority: optional
Homepage: http://tiswww.case.edu/php/chet/bash/bashtop.html
Description: Bash loadable builtins - headers & examples
 Bash can dynamically load new builtin commands.  Included are the
 necessary headers to compile your own builtins and lots of examples.
